# .gitconfig default configs for EDToaster
# Meant to be symlinked at ~/.gitconfig for Linux/MacOS
# and ~/.gitconfig for Windows

[user]
    email  = howard3061@gmail.com
    name   = EDToaster

[http]
	postBuffer = 524288000

[mergetool]
	keepBackup = false

[core]
	whitespace       = trailing-space,space-before-tab
	editor           = hx
	
[diff]
	mnemonicprefix = true
    colorMoved = default

[merge]
    conflictstyle = zdiff3

[pull]
	rebase = true

[push]
	default         = simple
	autoSetupRemote = true

[merge]
	stat = true

[feature]
	manyFiles = 1

[pack]
	windowMemory  = 256m
	packSizeLimit = 256m

[alias]
    a = add
	aa = add -A
	aac = !git add -A && git commit
	aacm = !git add -A && git commit -m

	b = branch

	c = commit
	cm = "commit -m"
    cane = "commit --amend --no-edit"

	d = diff
    dag    = log --graph --format='format:%c(yellow)%h%C(reset) %C(blue)"%an" <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
	l = log

	co = checkout
	nb = "!f() { git checkout -b edtoaster/\"$1\"; }; f"

	p = pull
	s = status
	r = rebase
	sc = sparse-checkout
	wt = worktree

[init]
	defaultBranch = main

[include]
	path = .gitconfig_overrides
